<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Meedlies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheets %>
    <%= javascripts %>
    <link rel="icon" type="/image/ico" href="/public/favicon.ico" />
    <script src='/components/webcomponentsjs/webcomponents.js'></script>
    <link rel="import" href="/elements/import.html" />
    <link rel='import' href='/elements/polyrhythm-form/polyrhythm-form.html'>
    <link rel='import' href='/elements/engines/app-engine.html'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,900' rel='stylesheet' type='text/css'>
    
    <script>
      
    </script>
  </head>
  <body fullbleed vertical layout>
    <%= yield %>
  </body>
</html>