<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Meedlies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheets %>
    <%= javascripts %>
    <link rel="icon" type="/image/ico" href="/public/favicon.ico" />
    <link rel="import" href="/components/import.html" />

    <script>
      
    </script>
  </head>
  <body fullbleed vertical layout>
    <%= yield %>
  </body>
</html>