<div id='screen_wrapper' style='width: 240px; height: 208px; overflow: hidden; transform: scale3d(2, 2, 2); transform-origin: 0 0;'>
	<canvas moz-opaque id='screen' width='256' height='256' style='background-color: #00f; transform: translate3d(-16px, -8px, 0px); transform-origin: 0 0;'></canvas>
  <div id='menu'></div>
</div>

<div id='test'>Loading</div>

<div id='upload-rom'>
  <polyrhythm-form id='upload-form' options='{"submitText":null}'></polyrhythm-form>
</div>

<div id='info'>
  <h4>Controls</h4>
  <ul style='list-style-type: none; margin: 0; padding: 0;'>
    <li><strong>Up/Down/Left/Right: </strong>Directional Keys</li>
    <li><strong>A: </strong>D</li>
    <li><strong>B: </strong>C</li>
    <li><strong>X: </strong>S</li>
    <li><strong>Y: </strong>X</li>
    <li><strong>L: </strong>W</li>
    <li><strong>R: </strong>E</li>
    <li><strong>Start: </strong>Enter</li>
    <li><strong>Select: </strong>Shift</li>
  </ul> 
</div>

<canvas id='wob' width='4096' height='4096' hidden></canvas>
<canvas id='wor' width='4096' height='4096' hidden></canvas>
<canvas id='mode7' width='4096' height='4096' hidden></canvas>

<script src='/js/ff3.js'></script>
<script>
  //var ff3 = new FF3();
  var ff3 = null;

  window.addEventListener("WebComponentsReady", function(){
    var form = document.querySelector('#upload-form');

    form.structure = [{ key: "rom", type: "file", label: "Upload a valid FF3/6 ROM" }];
    form.querySelector(".rom input").addEventListener("change", function(e){
      var file = e.target.files[0],
          live = new FileReader(),
          store = new FileReader();

      live.onload = function(){ 
        ff3 = new FF3(live.result);
        ff3.map = new Map(75, ff3, [2, 28], 0);
      }

      store.onload = function(){ 
        window.localStorage.rom = store.result 
      }
      
      live.readAsArrayBuffer(file)
      //store.readAsDataURL(file);
    }, false);
  }, false);

  window.addEventListener('map-loaded', function(){
    console.log("running");
  }, false);

  window.addEventListener("resize", function(){
    resizeScreen();
  }, false)

  function resizeScreen(){
    var viewport = document.querySelector('html'),
        height = viewport.offsetHeight, 
        width = viewport.offsetWidth,
        hScale = width / 240,
        vScale = height / 208,
        scale = vScale > hScale ? hScale : vScale,
        leftShift = (((width / scale) / 2) - (120)),
        transformation = "scale3d(" + scale + "," + scale + "," + scale + ")" + " translateX(" + leftShift + "px)";

    document.querySelector("#screen_wrapper").style.transform = transformation;
  }

  resizeScreen();

  document.querySelector("#menu").addEventListener("transitionend", function(e){
    if (e.target.dataset.opened === 0){
      e.target.innerHTML = "";
      e.target.style.display = "none";
    }
  }, false);
  
  


</script>
