signup-form /deep/ form, login-form /deep/ form, store-form /deep/ form {
	width: 400px;
	position: relative;
	top: 50px;
	display: block;
	margin: 0px auto;
	padding: 20px;
	border: solid 1px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0, 0, 64, 0.6);
}

user-form /deep/ form {
	width: 600px;
	position: relative;
	top: 50px;
	display: block;
	margin: 0px auto;
	padding: 20px;
	border: solid 1px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0, 0, 64, 0.6);

	.user_access {
		.list-item {
			display: none;
		}

		.list-form {
			display: block;

			.user_id {
				display: none;
			}
		}
	}
}

csv-form /deep/ form {
	.input {
		min-width: 33%;
	}

	.fields {
		display: none;
		
		.input {
			min-width: 20%;
		}
	}
}