a {
	text-decoration: none;
	color: #333788;
}

core-header-panel {
	background-color: #fff;

	core-toolbar {
		.header-left {
			flex: 1;
		}

		.header-right {
			
		}
	}
}

#props .prop {
	position: relative;
	width: 32px;
	height: 32px;
	float: left;
	font-size: 8px;
	line-height: 95%;
	border: solid 1px;
	margin: -1px;
}

#props .prop span {
	display: block;
	width: 100%;
	position: relative;
	text-align: center;
}